/* scss variables */ 
$dark: #1E1E2C;
$semitone: #909090;
$light:#FFFFFF;

$lightShade: rgb(245, 245, 245);
$lightBorder: rgba(30, 30, 44, 0.3);
$boxShadow: rgba(0, 0, 0, 0.25);

$main: #057DFF;
$accent: #1A53BC;
/* $main: #ec681b;
   $accent: #FB470F; */

$mistake: #FF2C2C;

/* js variables */ 
:export {
    dark: $dark;
    semitone: $semitone;
    light: $light;

    lightShade: $lightShade;
    lightBorder: $lightBorder;
    boxShadow: $boxShadow;

    main: $main;
    accent: $accent;

    mistake: $mistake;
}