@import '../../styles/styles.scss';

.map {
    width: 70%;
    height: 70vh;
    background: $light;
    box-shadow: 0px 0px 10px $boxShadow;
    border-radius: 20px;

    * {border-radius: 20px;}

    &__box {
        width: 100%;
        padding: 0 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        h1 {
            width: 100%;
            text-align: center;
            font-size: 24px;
            line-height: 40px;
            font-weight: 600;
            color: $dark;
            margin: 0 auto;
            padding: 20px 0;
        }
        h2 {
            font-weight: 500;
            font-size: 22px;
            line-height: 40px;
            border-bottom: 2px solid $main;
            text-align: center;
            width: max-content;
            margin: 0 auto;
        }
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        width: 29%;
        height: 70vh;
        background: $light;
        box-shadow: 0px 0px 10px $boxShadow;
        border-radius: 20px;
        padding: 16px 24px;
        color: $dark;

        &__list {
            overflow: scroll;
            margin-top: 8px;

            &__el {
                padding: 12px 0 8px 0;
                border-bottom: 1px solid $semitone;
                h3 {
                    display: flex;
                    align-items: center;
                    img {
                        max-width: 20px;
                        margin-right: 6px;
                    }
                }
                p {
                    margin-left: 26px;
                }
            }
        }

        &__full {
            position: relative;
            &__close {
                position: absolute;
                cursor: pointer;
                top: 4px;
                right: 0px;
                * { cursor: pointer; }
            }
            &__box {
                padding: 20px;
                margin: 12px 0;
                box-shadow: 0px 0px 12px $boxShadow;
                border-radius: 8px;
            }
        }
    }
}
